/* #Reset & Basics ================================================== */
html, body, div, span, h1, h2, h3, p, a, img{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

/* #Basic Styles================================================== */
body {
	background: #f0efef;
	font-family:"Microsoft Yahei", 'Times New Roman', Times, serif; font-weight:normal; font-style:normal;
	font-size:12px;
	color: #2a2a2a;
	line-height: 1; 
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

/* #Typography================================================== */
h1, h2, h3{
	color: #2a2a2a;
	font-family:"Microsoft Yahei", 'Times New Roman', Times, serif; font-weight:normal; font-style:normal;  
}
h1 a, h2 a{ font-weight: inherit; }
h1{ 
	font-size: 30px; 
	line-height: 38px; 
	border-bottom:1px solid #2a2a2a; 
	float:left; 
	padding-bottom:12px; 
	margin-bottom:58px; 
}
h2 { 
	font-size: 24px; 
	line-height: 30px; 
	border-bottom:1px solid #2a2a2a; 
	float:left; 
	padding-bottom:12px; 
	margin-bottom:58px; 
}
h3 { 
	font-size: 22px; 
	line-height: 22px; 
	margin-bottom: 0px; 
	letter-spacing:2px; 
	font-family: Arial, Helvetica, sans-serif; 
	text-transform:uppercase; 
	border-bottom:1px solid #2a2a2a; 
	float:left; 
	padding-bottom:14px; 
}
p { margin: 0 0 20px 0; }
p img { margin: 0; }

/* #Links================================================== */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }